 body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        fieldset {
            padding: 30px;
            border-radius: 20px; 
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border: none;
            width: 100%;
            max-width: 400px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 16px;
            border-radius: 10px;
            border: 1px solid #ccc;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
            border-radius: 10px; 
        }

        .senha-container {
            position: relative;
        }

        .senha-container button {
            position: absolute;
            right: 10px;
            top: 9px;
            width: auto;
            background: none;
            border: none;
            font-size: 18px;
            color: #333;
            cursor: pointer;
        }

        .redefinir {
            text-align: center;
            margin-top: 10px;
        }

        .redefinir a {
            color: #007BFF;
            text-decoration: none;
        }

        .redefinir a:hover {
            text-decoration: underline;
        }
